*{
    margin: 0;
    padding: 0;
}

html, body, .container{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}